<br><br><br><br><br>

<body>
<h2>あみあみ展示室について</h2>
  <div class="concept-block">
    <h3>コンセプト</h3>
    <div><img src="../../assets/images/logos.png" width="100%" alt="top image"></div>
    <div>説明</div>
  </div>
  <div class="author-block">
    <h3>製作者について</h3>
  <div><img src="../../assets/images/top_image.png" width="100%" alt="top image"></div>
  <div>説明</div>
  </div>
</body>