// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.items-container{
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
	justify-content: flex-end;
}

.item{
	margin: 0 auto;
}

.item-show{
	display: flex;
	justify-content: center;
}

button{
	border: none;
	background: transparent;
}